Aki_Data/Launcher/
Aki_Data/Server/images/
Aki_Data/Server/database/locales/
BepInEx/
EscapeFromTarkov_Data/
Logs/
MonoBleedingEdge/
NLog/
user/cache/
user/launcher/
user/logs/
user/profiles
*.exe
*.ini
*.txt
*.dll
*.pdf
*.md
*.png
license
mods/zFin-AITweaks/donottouch/
mods/zFin-AITweaks/package.js
mods/zFin-AITweaks/package.json